.Cell {
    border: 5px solid #282c34;
	font-size: 100px;
    color: white;
    background-color: #49505f;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}