.cell {
    border: none;
	font-size: 100px;
    color: white;
    background-color: #444b59;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 7px 0px #20232a;
    background-size: 55%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .cell {
      box-shadow: 0px 6px 0px #20232a;
    }
}

@media screen and (max-width: 700px) {
    .cell {
      box-shadow: 0px 5px 0px #20232a;
    }
}

@media screen and (max-width: 500px) {
    .cell {
      box-shadow: 0px 4px 0px #20232a;
    }
}