.board {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 15px;
}

@media screen and (max-width: 1000px) {
  .board {
    width: 400px;
    height: 400px;
  }
}

@media screen and (max-width: 700px), screen and (max-height: 700px) {
  .board {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 500px), screen and (max-height: 500px) {
  .board {
    width: 250px;
    height: 250px;
  }
}