.popup {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  background-color: rgba(00, 00, 00, 0.5);
  visibility: hidden;
  opacity: 0;
  /*transition: visibility 0.3s, opacity 0.3s linear;*/
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  width: 100%;
  background-color: #282c34;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px 0 30px;
}

.popup__title {
  color: #aebbd2;
  font-size: 70px;
  flex-basis: 100%;
  text-align: center;
  margin: 0;
}

.popup__button {
  padding: 10px 30px;
  font-size: 30px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 7px 0px #20232a;
  background-color: #aebbd2;
  color: #20232a;
  transition: all 0.1s linear;
}

.popup__button:hover {
  background-color: #fac863;
}