.popup {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  background-color: rgba(00, 00, 00, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup__container {
  width: 100%;
  background-color: #444b59;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 20px 0 30px;
}

.popup__title {
  color: #fac863;
  font-size: 55px;
  flex-basis: 100%;
  text-align: center;
  margin: 0;
}

.popup__button {
  padding: 10px 30px;
  font-size: 27px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 7px 0px #333842;
  background-color: #aebbd2;
  color: #282c34;
  transition: all 0.1s linear;
}

.popup__button:hover {
  background-color: #fac863;
}

@media screen and (max-width: 1000px) {
  .popup__button {
    font-size: 23px;
    box-shadow: 0px 6px 0px #333842;
  }

  .popup__title{
    font-size: 50px;
  }
}

@media screen and (max-width: 700px), screen and (max-height: 700px) {
  .popup__button {
    font-size: 20px;
    box-shadow: 0px 5px 0px #333842;
  }

  .popup__title{
    font-size: 45px;
    margin-bottom: -55px;
  }
  .popup__container {
    padding: 0;
  }
}

@media screen and (max-width: 500px), screen and (max-height: 500px) {
  .popup__button {
    font-size: 18px;
    box-shadow: 0px 4px 0px #333842;
    padding: 10px 20px;
  }

  .popup__title{
    font-size: 35px;
  }

  .popup__container {
    gap: 15px;
    height: 200px;
  }
}