.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.App-header {
  font-size: 70px;
  color: white;
  margin-bottom: 30px;
}
