.footer {
  margin-top: auto;
  margin-bottom: 20px;
  color: #aebbd2;
  cursor: default;
}

.footer__link {
  color: #aebbd2;
  text-decoration: none;
  transition: all 0.1s linear;
}

.footer__link:hover {
  color: #fac863;
}

.footer:visited {
  color: #aebbd2;
}

@media screen and (max-width: 500px), screen and (max-height: 500px) {
  .footer {
    margin-bottom: 5px;
    font-size: 15x;
  }
}